<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Auto_Scre.Data.EF.Properties.Settings.TestConnectionString"
            connectionString="Data Source=TRANBIN;Initial Catalog=Test;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>